.bild2 
{
    width: 400px;
    height: 400px;
    display: block;
    margin: 70px auto;
}
                 
.bredd 
{
margin: auto;
    width: 700px;
}
            
a
{
    color: black; 
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
         
.text
{
    font-family: Arial;
    font-size: 12px;
}
            
body
{
    background-color: #6A0888;
    margin:0;
}

nav
{
    background-color: #333;
    padding: 10px 0;
}

nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
}



li a 
{
    
    color: white;
    text-decoration: none;
    
}

li a:hover:not(.active) 
{
    background-color: #111;
}

.active 
{
    background-color: #4CAF50;
}
      
.p1
{
    font-weight:  bold;
    text-align:  center;
    font-family: Gill Sans, sans-serif
}
            
h1
{
    font-weight:  bold;
    text-align:  center;
    font-family: Gill Sans, sans-serif
}

footer
{
    position:fixed;
    left: calc(50% - 50px);
    width: 100px;
    bottom:0 ;
    font-family: Gill Sans, sans-serif;
    font-weight: bold;
    text-align: center;
    
}
.FTI{
    width: 100px;
    height: 50px;
}